confluent-kafka
qdrant-client
orjson
uvloop
pyspark
numpy
pandas
scikit-learn
prometheus-client
pyyaml
loguru
aiohttp
python-dotenv
fastapi
uvicorn[standard]
psutil
pydantic
pydantic-settings
pytest
pytest-asyncio
pytest-mock
httpx
requests
click
transformers
sentence-transformers
torch
transformers
prometheus-client
kafka-python
lz4
#cudf-cu
#cuml-cu
#cupy-cudax
#rmm-cu

